:root {
  --brand: #886349ff;
  --brand-10: rgba(136, 99, 73, 0.1);
  --brand-80: rgba(136, 99, 73, 0.8);
  --brand-50: rgba(136, 99, 73, 0.5);
  --text: black;
  --button-primary-bg: #886349ff;
  --button-primary-border: #886349ff;
  --button-primary-icon-loading: #886349ff;
  --button-secondry-bg: white;
  --button-secondry-text: #886349ff;
  --button-secondry-border: #886349ff;
  --button-secondry-icon: #886349ff;
  --link-border: #886349ff;
  --link-text-hover: #886349ff;
  --select-bg: #886349ff;
  --select-border: #886349ff;
  --select-box-shadow: rgba(136, 99, 73, 0.1);
  --input-border: #886349ff;
  --toggle-bg: #886349ff;
  --announcement-bg: #886349ff;
  --tag-bg: rgba(136, 99, 73, 0.1);
  --text-brand: #886349ff;
  --text-adabtive: white;
  --text-light: white;
  --text-dark: black;
  --icon-brand: #886349ff;
  --icon-adabtive: white;
  --icon-social-hover: #886349ff;
  --bg-brand: #886349ff;
  --bg-accent: rgba(136, 99, 73, 0.1);
  --bg-brand-hover: rgba(136, 99, 73, 0.8);
  --border-brand: #886349ff;
  --default: transparent;
  --no-shadow: none;
  --shape-corner: 8px;
  --card-image-shape-corner: 4px;
  --card-discount-shape-corner: 4px;
  --modal-image-thumbnail: 8px;
  --header-color-schema: white;
  --header-schema-text: black;
  --header-text-inactive: #00000066;
  --footer-color-schema: undefined;
  --footer-schema-text: black;
  --footer-text-inactive: #ffffff66;
}
